<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atualizar Médico</title>
</head>
<body>

<h1>Atualizar Médico</h1>

<form action="/api/medico" method="put" th:object="${medicoAtualizado}">
    <!-- Campos do formulário -->
    <label for="senha">Nova Senha:</label>
    <input type="password" id="senha" name="senha" th:field="*{senha}">

    <label for="telefone">Novo Telefone:</label>
    <input type="tel" id="telefone" name="telefone" th:field="*{telefone}">

    <label for="hospital">Novo Hospital:</label>
    <input type="text" id="hospital" name="hospital" th:field="*{hospital}">

    <label for="idade">Nova Idade:</label>
    <input type="number" id="idade" name="idade" th:field="*{idade}">

    <button type="submit">Atualizar</button>
</form>

</body>
</html>