<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{base :: head}"></head>

<body>
    <div th:replace="~{base :: logo}"></div>

    <div class="container">
        <div th:replace="~{base :: titulo('Receitas Médicas')}"></div>

        <nav class="navbar navbar-expand navbar-light bg-light d-flex justify-content-between mb-3">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/home">Todas as Receitas</a>
                <a class="nav-item nav-link" href="/receitas/ativas">Receitas Ativas</a>
                <a class="nav-item nav-link" href="/receitas/inativas">Receitas Inativas</a>
            </div>
            <!-- Adicione um botão ou link para adicionar uma nova receita -->
            <a href="/receitas/nova"><button class="btn btn-outline-secondary my-2 my-sm-0">Nova Receita</button></a>
        </nav>

        <div class="card mb-3" th:each="receita : ${receitas}">

            <div class="card-header alert-success">Receita Médica</div>

            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-sm-8 mb-3">
                        <div class="form-group">
                            <label for="id">ID da Receita:</label>
                            <textarea class="form-control" id="id" rows="1" th:text="${receita.id}" readonly></textarea>
                        </div>

                        <div class="form-group">
                            <label for="descricao">Descrição:</label>
                            <textarea class="form-control" id="descricao" rows="4" th:text="${receita.descricao}" readonly></textarea>
                        </div>

                        <!-- Adicione mais campos conforme necessário -->

                        <div class="row mt-3">
                            <div class="col-6">
                                <!-- Adicione botões ou links para ações relacionadas à receita -->
                                <a class="btn btn-danger" href="/receitas/deletar"><i class="fas fa-trash-alt"></i> Deletar</a>
                                <a class="btn btn-success" href="/receitas/ativar"><i class="fas fa-check"></i> Ativar</a>
                            </div>
                            <div class="col-6 text-right">
                                <a href="/receitas/editar" class="btn btn-primary"><i class="fas fa-edit"></i> Editar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
